[submodule "ibek-support"]
	path = ibek-support
	url = https://github.com/epics-containers/ibek-support.git
[submodule "ibek-support-dls"]
	path = ibek-support-dls
	url = https://github.com/epics-containers/ibek-runtime-streamdevice.git
